* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.container-fluid {
  height: 100%;
}

.bg-custom {
  background-color: #222f3f;
}

.bg-nav {
  background-color: #364759;
}

.nav-link {
  color: white;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-link:hover,
.nav-link:active {
  color: white;
  opacity: 1;
}

.img-container {
  height: 18em;
}
.card-body {
  flex-grow: 1;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  display: -webkit-box;
  -webkit-box-direction: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card-title{
  display: -webkit-box;
  -webkit-box-direction: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#imgCont img {
  max-height: 65vh;  
}

#prodImg {
width: 100%;
object-fit: contain;
}

.fs-custom{
  font-size: 0.85em;
}

.fs-sm{
  font-size: 0.4em;
}

#prodCartImg{
  height: 8em;
  object-fit: contain;
}

#summary {
  height: 100vh;
  overflow-y: auto; /* Consente lo scrolling interno */
}